/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}



.container-fluid padding{
width:40%;
}                                                                                                                                                                                                                                                                                        
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    min-height: 50px;
}

.btn {
    background: linear-gradient(90deg, var(--a1, #FFEDBC), var(--c2, #FFAFBD) 51%, var(--a1, #FFEDBC)) var(--x, 0)/200%;
    box-shadow: 0 0 20px #eee;
    border: 0;
    border-radius: 10px;
    flex: 1 1 auto;
    font-weight: bold;
    margin: 0px 20px;
    transition: 0.5s;
    text-align: center;
    text-transform: uppercase;
    outline: 0;
}

.btn-3 {
    --a1: #E0FFFF;
    --c2: #64b3f4;
}
ul{
    text-align: center;
    list-style-position: inside;
    }

p{
text-align: center;
list-style-position: inside;
}

.jumbotron{
background-color: rgb(253, 253, 253);
}

textcenter{
text-align: center;
list-style-position: inside;
}

body {
    background-color:white;
}

.center {
    text-align:center;
    width:50%;
    display:block;
    margin:auto;
    }


.hi{
    background-color: rgb(49, 0, 0)
}
h2{
    color:black
}

.green{
    background-color:green !important;
    background: linear-gradient(90deg, var(--a1, rgb(188, 255, 194)), var(--c2, rgb(175, 255, 251)) 51%, var(--a1, rgb(188,255,194))) var(--x, 0)/200%;
}

.left{
    text-align:left;
}

hr { 
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}
.aye{
    background-color: rgb(49, 0, 0) !important;
}

.navbar-text{
z-index: 1;
margin: auto;
left:0;
right: 0;
position: absolute;
}
.navbar-nav{
    z-index: 1;
    color:white 
}
.navbar-dark{
    color:white;
    background-color:rgb(29, 29, 138);
}
.blue{
    color:white;
    background-color:rgb(29, 29, 138);
}
@media(max-width: 1200px){
    .navbar-text{
        display: none;

    }
}

.card-text{
    color:black;
}
.jumbotron{
    background-color:rgb(28, 28, 122);
    color:white;
    padding-top: 10x;
    padding-bottom: 20px;

}
.navbar-text{
    color:white
}


.display-4{
    color:black
}
.footer{
    background-color:rgb(
8, 28, 122);
}
.see{
    color:white;
}
#locator{ position: absolute; visibility: visible; left: 100px; top: 400px; height: 100px; width: 450px; z-index: 200; }

#locator1{ position: absolute; visibility: visible; left: 700px; top: 400px; height: 100px; width: 450px; z-index: 200; }

#locator2{ position: absolute; visibility: visible; left: 1300px; top: 400px; height: 100px; width: 450px; z-index: 200; }

#locator3{ position: absolute; visibility: visible; left: 100px; top: 900px; height: 100px; width: 450px; z-index: 200; }

#locator4{ position: absolute; visibility: visible; left: 700px; top: 900px; height: 100px; width: 450px; z-index: 200; }

#locator5{ position: absolute; visibility: visible; left: 1300px; top: 900px; height: 100px; width: 450px; z-index: 200; }

#locator6{ position: absolute; visibility: visible; left: 100px; top: 1400px; height: 100px; width: 450px; z-index: 200; }

#locator7{ position: absolute; visibility: visible; left: 700px; top: 1400px; height: 100px; width: 450px; z-index: 200; }

#locator8{ position: absolute; visibility: visible; left: 1300px; top: 1400px; height: 100px; width: 450px; z-index: 200; }

#hi {position:absolute; visibility: visible; left: 200px; }



#ticket{ position: absolute; visibility: visible; left: 100px; top: 1230px; height: 100px; width: 450px; z-index: 200;}


@font-face {
    font-family: Grobold;
    src: url(GROBOLD.ttf);
    font-weight: bold;
}





#ticket1{ position: absolute; visibility: visible; left: 100px; top: 450px; height: 100px; width: 450px; z-index: 200; }

#ticket2{ position: absolute; visibility: visible; left: 700px; top: 480px; height: 100px; width: 450px; z-index: 200; }

#ticket3{ position: absolute; visibility: visible; left: 1300px; top: 480px; height: 100px; width: 450px; z-index: 200; }

#ticket4{ position: absolute; visibility: visible; left: 700px; top: 1300px; height: 100px; width: 450px; z-index: 200; }

#ticket5{ position: absolute; visibility: visible; left: 600px; top: -25px; height: 100px; width: 450px; z-index: 200; }

#ticket6{ position: absolute; visibility: visible; left: -600px; top: 700px; height: 100px; width: 450px; z-index: 200; }

#ticket7{ position: absolute; visibility: visible; left: -600px; top: 700px; height: 100px; width: 450px; z-index: 200; }

/*div*/

#modal{ position: absolute; visibility: visible; left: 700px; top: 200px; height: 100px; width: 450px; z-index: 200; }





/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.same-line{
    display:inline-block;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}







/* Footer */

.fa {
    padding: 50px;
    font-size: 50px;
    width: 50px;
    margin: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 10%;
}

/*  hover effect */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
/* Instagram */
.fa-instagram {
    background: rgb(172, 77, 0);
    color: white;
}
/* youtube */
.fa-youtube {
    background: rgb(160, 29, 29);
    color: white;
}
/* Footer */